<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>scarab documentation</title>
  <link rel="stylesheet" href="css/bundle.css"/>
</head>
<body>
  {{> nav}}
  <div class="container" id="main">
    {{{body}}}
  </div><!--/container-->
  <script src="js/bundle.js"></script>
</body>
</html>
