@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

$sc-bg: #eef4f5;
$sc-primary: #1a707f;

a {
  color: $sc-primary;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

#main {
  margin: 0px;
  padding: 2rem;
  transition: transform 200ms;

  img {
    max-width: 100%;
  }
}

navigation {
  transition: width 200ms;
  border-left: 0.1rem rgba($sc-primary, 0.4) solid;
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  overflow: hidden;
  ul {
    width: 25rem;
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      padding: 0px 2rem;
      line-height: 4rem;
      &:nth-child(even) {
        background-color: #F2FDFF;
      }
      border-bottom: 0.1rem solid rgba(0,0,0,0.1);
    }
  }
}

navigation .image img {
  margin-top: 2rem;
  width: 5rem;
}

blockquote {
  background-color: rgba(0,0,0,0.1);
  border-radius: 2rem;
  margin: 2rem;
  padding: 1rem 2rem;
}

@media (max-width: 768px) {
  #main {
    margin-right: 5rem;
  }
  navigation {
    width: 3rem;
  }
  .nav-open {
    #main {
      transform: translateX(-17.5rem);
    }
    navigation {
      width: 17.5rem;
    }
  }
}

@media (min-width: 768px) {
  #main {
    margin-right: 17.5rem;
  }
  navigation {
    width: 17.5rem;
  }
}
