<h2 id="intro-to-docker">Intro to docker</h2>
<ul>
<li>intro to docker concepts</li>
<li>intro to docker-compose</li>
<li>what scarab does differently than docker-compose (merged docker-compose files)</li>
</ul>
