<h2 id="scarab-routing">Scarab routing</h2>
<h3 id="-express-routing-middleware-concepts">• Express routing/middleware concepts</h3>
<p>Express is a simple webserver written in node.js, which is built around the concept of &quot;middleware&quot;.</p>
<p>When a request is received, express will run the request through a chain of middleware until one of them does not pass to the next.</p>
<p>Each middleware receives 3 arguments:</p>
<ul>
<li><code>req</code>: an object containing information about the request</li>
<li><code>res</code>: an object containing information and exposing mutating functions that you can use to respond to the request</li>
<li><code>next</code>: a function that you may call to indicate that you would like to pass this request to the next handler.</li>
</ul>
<p>When you call <code>require(&#39;scarab&#39;)</code>, the returned object is a preconfigured express app.</p>
<p>You can add a simple GET response by calling <code>scarab.get()</code>:</p>
<pre><code class="hljs javascript">
scarab.get(<span class="hljs-string">'/send-json'</span>, <span class="hljs-function"><span class="hljs-params">(req, res, next)</span> =&gt;</span> {
  res.json({ success: <span class="hljs-literal">true</span> })
})
</code></pre>
<p>You may add middleware without an HTTP verb by using the <code>.all</code> or <code>.use</code> methods:</p>
<pre><code class="hljs javascript">
<span class="hljs-comment">// .all, which requires a route, and is an exact match:</span>
scarab.all(<span class="hljs-string">'/foo'</span>, (req, res, next) =&gt; {
  <span class="hljs-comment">// this will only respond to /foo (not /foo/bar)</span>
  res.render(<span class="hljs-string">'index'</span>, { foo: <span class="hljs-keyword">true</span> })
})

<span class="hljs-comment">// .use with a route, which will match anything _beginning_ with your route:</span>
scarab.<span class="hljs-keyword">use</span>(<span class="hljs-string">'/hello'</span>, (req, res, next) =&gt; {
  <span class="hljs-comment">// this will respond to /hello, /hello/there, /hello/post/12/comments, etc.</span>
  res.send(<span class="hljs-string">'hello'</span>)
})

<span class="hljs-comment">// .use without a route, will match _all_ requests</span>
scarab.<span class="hljs-keyword">use</span>((req, res, next) =&gt; {
  req.middlewareMessage = <span class="hljs-string">'hello from middleware'</span>
  <span class="hljs-comment">// this will just pass to the next middleware.</span>
  next()
})
</code></pre>
<p>Express provides lots of helpful response methods and request parsing. For more details, look at the <a href="http://expressjs.com/en/4x/api.html">express documentation</a></p>
<h3 id="-self-contained-apps">• Self contained apps</h3>
<p>In many cases, you&#39;ll want your app to use templates or may want to do custom express configuration. If your app is only overriding values, you could just manipulate the <code>scarab</code> app, but in some cases you may want to create your own express app, so you can do things like define custom templating engines without breaking the packaged scarab engine.</p>
<p>Thankfully, express can mount an express app as if it were a route - so you can create your app like so:</p>
<pre><code class="hljs javascript">
<span class="hljs-selector-tag">var</span> scarab = module<span class="hljs-selector-class">.exports</span> = require(<span class="hljs-string">'scarab'</span>)
<span class="hljs-selector-tag">var</span> express = require(<span class="hljs-string">'express'</span>)
<span class="hljs-selector-tag">var</span> app = express()

<span class="hljs-comment">/**
 * Your custom config would go here
 */</span>

scarab.use(<span class="hljs-string">'/'</span>, app)
</code></pre>
<p>All root requests will now go to app after they have successfully authenticated with scarab.</p>
<h3 id="-proxying">• Proxying</h3>
<p>If your app isn&#39;t written in node.js, it&#39;s likely that you&#39;ll just use scarab as a proxy.</p>
<p>To make this easy, scarab provides a <code>proxy</code> method, which will prepend a proxy route to the beginning of the middleware, mapping a local URL to a remote host.</p>
<p>For example:</p>
<pre><code class="hljs javascript">
<span class="hljs-selector-tag">var</span> scarab = module<span class="hljs-selector-class">.exports</span> = require(<span class="hljs-string">'scarab'</span>)
scarab.proxy(<span class="hljs-string">'/api'</span>, <span class="hljs-string">'http://some-api.com/api'</span>)
</code></pre>
<p>Now all requests to <code>/api</code> will instead be routed to &#39;<a href="http://some-api.com/api">http://some-api.com/api</a>&#39;, along with any sub routes like:</p>
<p><code>/api/foo/bar?baz -&gt; http://some-api.com/api/foo/bar?baz</code></p>
<p>This will also proxy POST bodies, so you can treat local apis like remote APIs.</p>
<p>Under the hood, <code>.proxy</code> sets up an instance of <a href="https://github.com/nodejitsu/node-http-proxy">http-proxy</a>. If you like, you can pass a third argument to <code>.proxy</code> with an options object.</p>
<p>The options object is a <a href="https://github.com/nodejitsu/node-http-proxy">http-proxy</a> config object, with a default target of the passed proxy url, and a default changeOrigin of true.</p>
<p><strong>Using with docker links</strong></p>
<p>A common use case would be to init a scarab app, then add a linked app to your docker-compose.yml file that builds the current directory. Then when scarab starts, proxy to this app.</p>
<p>To set up this case, your docker-compose file would look like this:</p>
<pre><code class="hljs yaml">
scarab:
  links:
    -<span class="ruby"> django
</span>django:
  build: .
  ports:
    -<span class="ruby"> <span class="hljs-string">"8000:8000"</span>
</span>  volumes:
    -<span class="ruby"> .<span class="hljs-symbol">:/usr/src/app</span></span>
</code></pre>
<p>And your <code>index.js</code> would look like this:</p>
<pre><code class="hljs javascript">
<span class="hljs-keyword">var</span> scarab = <span class="hljs-built_in">module</span>.exports = <span class="hljs-built_in">require</span>(<span class="hljs-string">'scarab'</span>)
<span class="hljs-keyword">var</span> links = <span class="hljs-built_in">require</span>(<span class="hljs-string">'docker-links'</span>).parseLinks(process.env)

<span class="hljs-keyword">var</span> djangoURL = <span class="hljs-string">'http://'</span> + links.django.hostname + <span class="hljs-string">':'</span> + links.django.port
<span class="hljs-built_in">console</span>.log(<span class="hljs-string">`Proxying requests to django server at <span class="hljs-subst">${djangoURL}</span>`</span>)
scarab.proxy(<span class="hljs-string">'/'</span>, djangoURL)

<span class="hljs-keyword">if</span> (<span class="hljs-built_in">require</span>.main === <span class="hljs-built_in">module</span>) scarab.serve()
</code></pre>
<p>In this example, we&#39;re using the <a href="https://www.npmjs.com/package/docker-links">docker-links</a> npm package to parse the environment vars automatically for us.</p>
<p>When running, you can tail the logs on the django server by running <code>scarab logs django</code>, and the logs of the proxy by running <code>scarab logs scarab</code>.</p>
<p>To see a log for each request proxied, you can set the <code>DEBUG</code> environment to include <code>scarab:proxy</code> (for instance, <code>DEBUG=scarab:*</code> or <code>DEBUG=scarab:proxy</code>).</p>
